<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	         <html xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<head>

               <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6DV7CP');
</script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

                <meta name="description" content="Gokarna is where Narayan Bali and pitru dosha pooja is done.It is Mukti & Siddhi Kshetra.">
               <meta name="keywords" content="Narayan Bali,Moksha Narayana Bali,Gokarna,Sarpa Shanti,Ashlesha Bali, Asthi Visarjana">
		<title>Narayan Bali & Pitru Dosha Nivarana|Gokarna Religious Works</title>
		<link rel="icon" href="images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" media="screen" href="Template_files/bootstrap.css">
<link rel="stylesheet" href="Template_files/font-awesome.css">
<link rel="stylesheet" href="Template_files/animate.css">
<link rel="stylesheet" href="Template_files/theme.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<meta property="og:title" content="Kala sarpa dosha pooja in Gokarna - Gokarna Sanskara">
<meta property="og:description" content="Kala sarpa dosha pooja is done when Kala Sarpa Yoga is formed in Kundali. As per religious texts Gokarna is perfect place to perform this pooja.">
<meta property="og:url" content="http://gokarnasanskara.com/">
<meta property="og:site_name" content="Gokarna Sanskara">
<meta name="twitter:card" content="Kala sarpa dosha pooja is done when Kala Sarpa Yoga is formed in Kundali. As per religious texts Gokarna is perfect place to perform this pooja.">
<meta name="twitter:description" content="Kala Sarpa Dosha Pooja is necessary to perform to get rid of Kala Sarpa Dosha .">
<meta name="twitter:title" content="Kala Sarpa Dosha Pooja in Gokarna - Gokarna Sanskara">

<style>
	
	h6{
		width: 0.1%;
    visibility: hidden;
display:none;
    height: 0.1%;
	}
         	.clearall{
			clear:both;
			}
			.leftAlign{
				text-align:left;
			}
			
			.slider1_container_cors{
				margin-right:0px !important;
				margin-left:6px !important;
			}
			
         </style>
</head>
<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6DV7CP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!--wrapper start-->
<div class="wrapper" id="wrapper">
	<div itemscope class="col-md-4 col-xs-8" style='margin-top:100px'>
       
          
     </div>
	<!--header-->
	<header>
	<div class="menu" style="position:fixed;top: -20px; height:40px;">
		<div class="navbar-wrapper stuckMenu" style="position: relative; top: 0px;">
			<div class="container">
				<div class="navwrapper">
					<div class="navbar navbar-inverse navbar-static-top">
						<div class="container">
							<div class="navArea">
								<div class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
										<li class="menuItem active"><a href="index.html#aboutus">Home</a></li>
                                        <li class="menuItem"><a href="#toreach">To Reach</a></li>
										<li class="menuItem"><a href="#feedback">Feedback</a></li>
										<li class="menuItem"><a href="#contact">Contact</a></li>
										<li class="menuItem"><a href="http://gokarnasankara.blogspot.in/" target="blank" >Blog</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>	
<br/><br/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69397993-1', 'auto');
  ga('send', 'pageview');

</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Religious -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9370553173400629"
     data-ad-slot="4668689790"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
 <div class="col-md-6 col-xs-offset-3" id='sucess'></div>
	<br>
	<br>
	<section class="aboutus" id="aboutus">
	<div class="container" itemscope itemtype="http://schema.org/Product">
				
		<div class="row">
			<div class="col-md-12">
				<div class="papers text-center">
					<img src="img\services\sarpaShanthi.jpg" alt="SARPASHANTI homa" itemprop="image" height="250" width="250"><br>
					<div class="col-md-2 col-md-offset-4"><a href="javascript:book('SARPASHANTI',3,8000,1);" class="btn btn-primary" role="button">Book Homam</a></div><div class="clearall"></div>
					<h1 class="notopmarg nobotmarg" itemprop="name">Kala Sarpa Dosha Nivarana Pooja</h1>
					<p itemprop="description">
						The person born under Kaal – Sarp Dosha / Yoga passes through death like situation for the entire life. The actual meaning of Kaal means death.The Kaal Sarp Dosha is formed when all the planets are present in between Rahu and Ketu. There are many types of Kaal Sarpa Doshas. If all seven planets are in between Rahu and Ketu, it shows bad sign. That person who takes birth in this yoga may suffer from problem of instability in the life, person may be disturbed both physically and mentally, person might suffer from loss in business or there might be family problems. 
						<b>Purpose :</b> 
                       <ul style="list-style-type:square">
                           <li class='leftAlign'>Kaala Sarpa Dosha Nivarana</li>
                           <li class='leftAlign'>Remedy for Rahu Dosha</li>
                           <li class='leftAlign'>Remedy for Kethu Dosha</li>
                           <li class='leftAlign'>In some cases, it is believed to cause untimely death of one spouse.</li>
                        </ul>
						<h6>Kaala Sarpa Yoga time will be very tough time for person. To make sure Kala Sarpa dosha won't give much trouble Kala Sarpa Dosha Nivarana Pooja must be performed</h6>
					</p>
					<div class="notopmarg nobotmarg">
					<p>	
						<h5><b>Preists</b><b>:&nbsp;3</b>
	                    <b>Days</b><b>:&nbsp;1</b><br>
						<b>Contact:</b>
						<b>Shridhar Upadhyay,</b>
						Kotiteerth Katte,Gokarna
						Uttara kannada (D),Karnataka
						Ph No:<b>+91-9448526048</b>,
						<b>08386-256048</b>
						Email:<b><a href="mailto:gokarnasanskara@gmail.com?subject=Contact_For_Religious_Wokrs">gokarnasanskara@gmail.com</a></b>
						</h5>
					
					</p>
					</div>
				</div>
			</div>
			<br/>
			<br/>
			<div class="col-md-12">
				<div class="papers text-center">
					<p itemprop="description"><b>There are 12 kinds of kala sarpa doshas/yoga as below<br/>
					Ananta Kalasarpa Yoga, Kulika Kalasarpa Yoga, Vasuki Kalasarpa Yoga, Sankhapala Kalasarpa Yoga, Padma Kalasarpa Yoga, Mahapadma Kalasarpa Yoga , Takshaka Kalasarpa Yoga, Karkotaka Kalasarpa Yoga, Sankhanath Kalasarpa Yoga, Pathak Kalasarpa Yoga, Vishkat Kalasarpa Yoga , Seshnag Kalasarpa Yoga. Person may suffer lot in all these so it is better to do Kala Sarpa Dosha Nivarana Pooja. We will do in cost efective manner.<br/>
					When Kala sarpa dosha yoga is activated the person may face difficulties inside family or work or by any other mean depending on different kala sarpa dosha. It is advisable to perform Kalasarpa dosha nivarana pooja before yoga activates in persons life
					</b>
					</p>
				</div>
			</div>
			
		</div>
		
	</div>
	</section>
	
        	<section class="aboutus" id="toreach">
			
		
		<div class="container">
			<div class="heading text-center">
				<img class="dividerline"  src="Template_files/sep.png" alt="">
				<h2>How To Reach Gokarna</h2>
				<img class="dividerline" src="Template_files/sep.png" alt="">
				<h3>Gokarna is well connected through roads and trains.</h3>
			</div>
		</div>
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Religious -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:728px;height:90px"
				 data-ad-client="ca-pub-9370553173400629"
				 data-ad-slot="4668689790"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			
		<br/>
		<div class="container w960">
<div class="col-md-3"></div><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=gokarna&amp;aq=&amp;sll=14.551622,74.313262&amp;sspn=0.017633,0.033023&amp;gl=in&amp;ie=UTF8&amp;hq=&amp;hnear=Gokarna,+Uttara+Kannada,+Karnataka&amp;t=m&amp;ll=14.550002,74.316695&amp;spn=0.035267,0.066047&amp;z=14&amp;output=embed"></iframe>
			<div class="clearall"></div>
			<div class="row  text-center">
				<h4>From Banglore to Gokarna it is about 518KM</h4>
				<p>
					There are multiple option via Road or Train. Several government and private buses commute daily.<br/>
				</p>
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<ul style="list-style-type:square">
							 <li class='leftAlign'>National Highway 4, via Sirsi you can reach Gokarna.</li>
                             <li class='leftAlign'>National Highway 206 (NH 206/State Highway 68), via Shimogga, Honnavara you can reach Gokarna</li>
                             <li class='leftAlign'>One can come through KARWAR EXPRESS from Banglore City Railway Station</li>
  						</ul>
					</div>
					<div class="clearall"></div>
				
				<h4>From Mumbai to Gokarna it is about 724KM</h4>
				<p>
					There are multiple option via Road or Train. Several government and private buses commute daily.<br/>
				</p>
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<ul style="list-style-type:square">
								 <li class='leftAlign'>National Highway 04, via Belgaum and Anokla</li>
	                             <li class='leftAlign'>National Highway 17, via Goa and Karwar</li>
	                             <li class='leftAlign'>One can come through MATSYAGANDHA EXPRESS from Kurla Railway Station</li>
	  						</ul>
					</div>
					<div class="clearall"></div>
				
				<h4>Distance between Gokarna and Other places</h4>
				<div class="col-md-3"></div>
					<div class="col-md-6">
						<ul style="list-style-type:square">
								 <li class='leftAlign'>Panjim to Gokarna is 163KM</li>
	                             <li class='leftAlign'>Hubli to Gokarna is 165KM</li>
	                             <li class='leftAlign'>Mangaluru to Gokarna 231KM</li>
								 <li class='leftAlign'>Shimogga to Gokarna 211KM</li>
								 <li class='leftAlign'>Hyderabad to Gokarna 671KM</li>
								 <li class='leftAlign'>Amaravathi to Gokarna 966KM</li>
								 <li class='leftAlign'>Karwar to Gokarna 61KM</li>
								 <li class='leftAlign'>Murdeshwar to Gokarna 78KM</li>
	  						</ul>
						</div>
					<div class="clearall"></div>
				<h4 style="padding-right:150px;">Other Info About Gokarna </h4>
				<p>
					Gokarna Mahabaleshwara, Darshana Timings 6AM - 12PM and 5PM - 8PM<br/>
				</p>
				<h4 style="padding-right:150px;">Main Temples in Gokarna</h4>
							
				<div class="col-md-3"></div>
					<div class="col-md-6">
						<ul style="list-style-type:square">
							<li class='leftAlign'>Mahabaleshwara Temple</li>
							<li class='leftAlign'>Bhadrakali Temple</li>
							<li class='leftAlign'>Mahaganapti Temple</li>
							<li class='leftAlign'>Pattavinayaka Temple</li>
							<li class='leftAlign'>Tamragouri Temple</li>
							<li class='leftAlign'>Jyotirlinga Temple</li>
							<li class='leftAlign'>and Many More</li>
						</ul>
					</div>
					<div class="clearall"></div>
				<h4 style="padding-right:150px;">Airports near by Gokarna</h4>
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<ul style="list-style-type:square">
							<li class='leftAlign'>Goa, Dabolim 154KM</li>
							<li class='leftAlign'>Manglore,Bajpe 236KM</li>
							<li class='leftAlign'>Hubli 169KM</li>
						</ul>
					</div>
					<div class="clearall"></div>
			</div>	
		</div>
	</section>
	
	<form id="formsubmit" style="visible:hidden;" action="http://gokarnasanskara.com/book.php" method="post"></form>
	<!--feedback-->
	
	<!--feedback-->

	<section class="contact" id="contact">

	<div class="container">
		<div class="heading">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Religious -->
				<ins class="adsbygoogle"
					 style="display:inline-block;width:728px;height:90px"
					 data-ad-client="ca-pub-9370553173400629"
					 data-ad-slot="4668689790"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				
		<br/>
		
				<img class="dividerline" src="Template_files/sep.png" alt="">
				<h2>Contact Us</h2>
				<img class="dividerline" src="Template_files/sep.png" alt="">
				<h3>Tell us what can be done at our side or if any queries from your side.</h3>
		</div>
	</div>
	 <div class="container w960">
      <div class="row" ng-app='contactForm' ng-controller="contactFormController">
		
		<script type="application/ld+json">
					{
					  "@context" : "http://schema.org",
					  "@type" : "Organization",
					  "url" : "http://www.gokarnasanskara.com",
					  "contactPoint" : [{
						"@type" : "ContactPoint",
						"telephone" : "+91-9448526048",
						"contactType" : "Preist Contact"
					  }]
					}
		</script>
       <form name="contactForm" ng-submit="sendMail()" id="contactform">
          <input ng-model="contact.name" name="name" type="text" maxlength="50" minlength="3" class="contact col-md-6" placeholder="Your Name *" required>
          <input ng-model="contact.email" name="email" type="email" maxlength="50" class="contact noMarr col-md-6" placeholder="E-mail address *" required>
		  <input ng-model="contact.phone" name="phone" type="number" maxlength="10" class="contact noMarr col-md-6" placeholder="Contact Number *" required>
		  <div class="clearall"></div>
          <textarea ng-model="contact.message" name="message" class="contact col-md-12" maxlength="250" minlength="10" placeholder="Message/Concern" required></textarea>
          <input type="submit" id="submit" class="contact submit" value="Send message">
		  <div class="row" style="font-color:red;">
			<div>
				{{contactSuc}}
			</div>
			<div ng-show="contactForm.$submitted || contactForm.name.$dirty">
				<span ng-show="contactForm.Name.$error.required">Please enter your Name.</span>
			</div>
			<div ng-show="contactForm.$submitted || contactForm.Email.$dirty">
				<span ng-show="contactForm.Email.$error.required">Give your Email-Id.</span>
				
			</div>
			<div ng-show="contactForm.$submitted || contactForm.Phone.$dirty">
				<span ng-show="contactForm.Phone.$error.required">Give your Phone NUmber.</span>
			</div>
			<div ng-show="contactForm.$submitted || contactForm.Message.$dirty">
				<span ng-show="contactForm.Message.$error.required">Write message to us.</span>
				
			</div>
		  </div>
        </form>
      </div>
    </div>
	</section>
  
	<!--footer-->
	<section class="footer" id="footer">
	<p class="text-center">
		<a href="#wrapper" class="gototop"><i class="ion-android-plane"></i></a>
	</p>
	<div class="container">
		<ul>
			<li><h4><a href="https://plus.google.com/+Gokarnasanskarareligiousworks/posts"><i class="ion ion-social-googleplus"></i></a></h4></li>
			<li><h4><a href="https://www.facebook.com/Gokarna-Religious-works-1621288381490928/?ref=hl"><i class="ion ion-social-facebook"></i></a></h4></li>
			<li><h4><a href="https://twitter.com/GSanskara"><i class="ion ion-social-twitter"></i></a></h4></li>
		</ul>
		<p>
			© 2016 Copyright Gokarna Sanskara<br>
			
		</p>
	</div>
	</section>
	
</div><!--wrapper end-->

<!--Javascripts-->
<script src="JS/jquery-1.9.1.min.js"></script>


  <script src="JS/bootstrap.min.js"></script>
    <script src="JS/angular.min.js"></script>
	<script src="JS/contactValidate.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="JS/ie10-viewport-bug-workaround.js"></script>

    <!-- jssor slider scripts-->
    <!-- use jssor.js + jssor.slider.js instead for development -->
    <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
    <script type="text/javascript" src="JS/jssor.slider.mini.js"></script>

    <!-- jssor slider scripts-->
    <!-- use jssor.js + jssor.slider.js instead for development -->
    <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js)
	 
 <script src="Template_files/contact.js"></script>
<script src="Template_files/jquery.js"></script>
<script src="Template_files/bootstrap.js"></script>
<script src="Template_files/parallax.js"></script>
<script src="Template_files/easing.js"></script>
<script src="Template_files/wow.js"></script>
<script src="Template_files/smoothscroll.js"></script>
<script src="Template_files/masonry.js"></script>
<script src="Template_files/imgloaded.js"></script>
<script src="Template_files/classie.js"></script>
<script src="Template_files/colorfinder.js"></script>
<script src="Template_files/contact.js"></script>
<script src="Template_files/common.js"></script> -->
    <script type="text/javascript" src="JS/jssor.slider.mini.js"></script>
    


	
<script type="text/javascript">
jQuery(document).ready(function ($) {
			var query = window.location.search;
			var searched = query.search('sucess');

			if(searched != -1)
			{
				$('#sucess').html('<h3>You Booking info has been submitted, Thanks</h3>');
			}
			//enabling stickUp on the '.navbar-wrapper' class
/*	$('.navbar-wrapper').stickUp({
		parts: {
		  0: 'banner',
		  1: 'aboutus',
		  2: 'feedback',
		  3: 'contact'
		},
		itemClass: 'menuItem',
		itemHover: 'active',
		topMargin: 'auto'
		});*/
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 2000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Scale: false,                                  //Scales bullets navigator or not while slider scale
                },

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 12,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 4,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                    $Scale: false,                                  //Scales bullets navigator or not while slider scale
                }
            };

            //Make the element 'slider1_container' visible before initialize jssor slider.
            $("#slider1_container").css("display", "block");
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    jssor_slider1.$ScaleWidth(parentWidth - 30);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
		
        });

		 function book(prc,priest,days)
		{
			$('#formsubmit').html('<input type="text" value="'+prc+'" name="prc"><input type="text" value="'+priest+'" name="priest"><input type="text" value="'+days+'" name="days"> <input type="submit">').submit();
		}	
</script>

</body></html>